# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List popular languages for Data Science
* List commonly used libraries used by Data Scientists
* used libraries used by Data Scientists include:

Some of the popular languages that Data Scientists use are:

1.  Python 
2.  SQL
3.  R
4.  Scala

Some of the commonly used libraries used by Data Scientists include:

1. Scikit-learn
2. SciPy
3. TensorFlow
4. PyTorch

|Data Science Tools|
|:----------------:|
|Python|
|R|
|NumPy|

### Below are a few examples of evaluating arithmetic expressions in Python

 This a simple arithmetic expression to mutiply then add integers.

In [1]:
(3*4)+5

17

 This will convert 200 minutes to hours by diving by 60

In [6]:
200 // 60

3

## Author